body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #29323c;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.link-type {
  display: inline-block;
  padding: 4px 25px;

  color: #e8e8e8;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;

  border: 1px solid #f2f2f2;
  border-radius: 25px;
}

.link-type:hover {
  color: #29323c;

  border-color: #29323c;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
}

.main-header {
  position: absolute;

  width: 100%;
}

.main-header .container {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logo img {
  width: 84px;
  height: 31px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  width: 650px;
}

.main-navigation a {
  color: #e8e8e8;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.main-navigation a:hover {
  color: #29323c;
}

.menu-link {
  position: relative;

  display: block;
  width: 82px;
}

.menu-link:hover span,
.menu-link:hover span::before,
.menu-link:hover span::after {
  background-color: #29323c;
}

.menu-link span {
  position: absolute;
  top: 10px;
  right: 0;

  display: block;
  width: 21px;
  height: 3px;

  background-color: #e8e8e8;
}

.menu-link span::before,
.menu-link span::after {
  content: "";

  position: absolute;

  display: block;
  width: 21px;
  height: 3px;

  background-color: #e8e8e8;
}

.menu-link span::before {
  top: -7px;
}

.menu-link span::after {
  top: 7px;
}

.title {
  padding: 105px 0;
  min-height: 540px;

  text-align: center;
  color: #e8e8e8;

  background-color: #2b353f;
  background-image: url('../img/title-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title-text {
  width: 625px;
  padding: 15px;
  margin: 145px auto 130px;
}

.title h1 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 36px;
  line-height: 40px;
}

.title p {
  margin: 0;
  margin: 0 auto 33px;
  padding: 0 10px;
  width: 670px;

  font-weight: 300;
  letter-spacing: -0.25px;
  font-size: 17px;
  line-height: 25px;
}

a.title-circle {
  position: relative;

  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;

  cursor: pointer;
}

.title-circle .arrow {
  position: absolute;
  top: 14px;
  left: 17px;

  display: block;
  width: 11px;
  height: 11px;

  transform: rotate(-45deg);
  border-left: 4px solid rgba(232, 232, 232, 0.7);
  border-bottom: 4px solid rgba(232, 232, 232, 0.7);

  transition-duration: 0.1s;
}

a.title-circle:hover .arrow {
  top: 19px;

  border-color: #29323c;
}

.title-circle .circle {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 48px;
  height: 48px;

  border: 1px solid rgba(232, 232, 232, 0.7);
  border-radius: 50%;

  transition-duration: 0.1s;
}

a.title-circle:hover .circle {
  border-color: #29323c;
}

.title-circle .vertical-line {
  position: absolute;
  top: 50px;
  left: 50%;

  display: block;
  width: 2px;
  height: 110px;
  margin-left: -1px;

  background-color: rgba(232, 232, 232, 0.7);
}

a.title-circle:hover .vertical-line {
  background-color: #29323c;
}

.services {
  padding: 100px 0 80px;

  text-align: center;

  background-color: #f5f5f5;
}

.services h2 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 22px;
  font-weight: 800;
}

.services h2 + p {
  position: relative;

  margin: 0;
  margin-bottom: 60px;
  padding-bottom: 20px;

  line-height: 30px;
}

.services h2 + p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 40px;
  height: 2px;
  margin-left: -20px;

  background-color: #545b63;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.service-item {
  flex-grow: 1;
  padding: 0 10px;
}

.service-item img {
  width: 120px;
  height: 120px;

  margin-bottom: 30px;
}

.service-item h3 {
  margin: 0;

  margin-bottom: 10px;

  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
}

.service-item p {
  margin: 0;
}

.works {
  padding: 100px 0 0;
  text-align: center;
}

.works h2 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 22px;
  font-weight: 800;
}

.works h2 + p {
  position: relative;

  margin: 0;
  margin-bottom: 60px;
  padding-bottom: 20px;

  line-height: 30px;
}

.works h2 + p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 40px;
  height: 2px;
  margin-left: -20px;

  background-color: #545b63;
}

.work-list {
  list-style: none;
  margin: 0;
  padding: 0;

  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.clients {
  padding: 100px 0 100px;

  text-align: center;
}

.clients h2 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 22px;
  font-weight: 800;
}

.clients h2 + p {
  position: relative;

  margin: 0;
  margin-bottom: 55px;
  padding-bottom: 20px;

  line-height: 30px;
}

.clients h2 + p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 40px;
  height: 2px;
  margin-left: -20px;

  background-color: #545b63;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-item .comment-text {
  position: relative;

  margin: 0;
  margin-bottom: 35px;
  padding-bottom: 37px;

  font-size: 16px;
  line-height: 26px;
}

.comment-item .comment-text::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 16px;
  height: 11px;
  margin-left: -8px;

  background-image: url('../img/quotes.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.comment-item .author-photo {
  width: 65px;
  height: 65px;

  border-radius: 50%;
}

.comment-item h3.author-name {
  margin: 0;

  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.comment-item p.author-position {
  margin: 0;
  margin-bottom: 33px;

  font-size: 13px;
  line-height: 20px;
}

.dots {
  list-style: none;
  margin: 0;
  padding: 0;

  margin: 0 auto;
  width: 55px;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 15px;
  height: 15px;
}

.dot span {
  width: 14px;
  height: 14px;
  display: inline-block;

  border: 1px solid #2b3746;
  border-radius: 50%;
}

.dot.active span {
  background-color: #2b3746;
}

.team {
  padding: 100px 0;

  text-align: center;

  background-color: #2b333e;
  background-image: url('../img/forest-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.team h2 {
  margin: 0;
  margin-bottom: 10px;

  color: #f2f2f2;
  font-size: 26px;
  line-height: 22px;
  font-weight: 800;
}

.team h2 + p {
  position: relative;

  margin: 0;
  margin-bottom: 55px;
  padding-bottom: 20px;

  color: rgba(242, 242, 242, 0.8);
  line-height: 30px;
}

.team h2 + p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 40px;
  height: 2px;
  margin-left: -20px;

  background-color: rgba(210, 214, 214, 0.8);
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 93px;
  display: flex;
  justify-content: space-between;
}

.worker {
  position: relative;

  width: 270px;

  background-color: rgba(242, 242, 242, 0.75);
}

.worker p.photo-container {
  margin: 0;

  width: 270px;
  height: 270px;
}

.worker .worker-photo {
  width: 270px;
  height: 270px;
}

.worker .worker-info {
  padding: 30px 15px;
}

.worker h3.worker-name {
  margin: 0;

  margin-bottom: 4px;

  font-size: 15px;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
}

.worker p.worker-position {
  margin: 0;

  margin-bottom: 18px;

  line-height: 20px;
  color: rgba(41, 50, 60, 0.8);
}

a.link-bio {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  width: 250px;
  height: 250px;
  padding: 10px;

  font-size: 13px;
  line-height: 250px;
  font-weight: 700;
  color: #e8e8e8;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;

  transition-property: color, background-color;
  transition-duration: 0.4s, 0.2s;
}

a.link-bio::after {
  content: "";

  position: absolute;
  top: 147px;
  left: 50%;

  width: 0;
  height: 2px;
  margin-left: 0;

  background-color: transparent;

  transition-timing-function: linear;
  transition-property: background-color, width, margin-left;
  transition-duration: 0.3s, 0.3s, 0.3s;
}

.worker:hover a.link-bio {
  opacity: 1;

  color: #ff0000;

  background-color:rgba(57, 67, 80, 0.7);
}

.worker:hover a.link-bio::after {
  width: 40px;
  margin-left: -20px;

  background-color: rgba(255, 0, 0, 0.8);
}

.social-contacts {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 140px;
  margin: 0 auto;
  display: flex;
}

.social-item {
  width: 27px;
  height: 27px;
  margin-right: 5px;
}

.social-item:last-child {
  margin: 0;
}

.social-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.partners {
  padding: 35px 0;

  background-color: #f5f5f5;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  width: 100%;
}

.partners-item {
  width: 170px;
  height: 80px;
  margin-right: 55px;
}

.partners-item:last-child {
  margin-right: 0;
}

.partners-item a {
  width: 170px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-item img {
  max-width: 170px;
  max-height: 80px;
}

.prices {
  padding: 100px 0 115px;

  text-align: center;
}

.prices h2 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 22px;
  font-weight: 800;
}

.prices h2 + p {
  position: relative;

  margin: 0;
  margin-bottom: 115px;
  padding-bottom: 20px;

  line-height: 30px;
}

.prices h2 + p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 40px;
  height: 2px;
  margin-left: -20px;

  background-color: #545b63;
}

.pack-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.pack-item {
  position: relative;

  width: 390px;
  margin-right: -1px;

  outline: 1px solid #eeeeee;
  outline-offset: -1px;
}

.pack-item:last-child {
  margin-right: 0;
}

.pack-item.pack-active,
.pack-item:hover {
  z-index: 10;

  outline: 1px solid #dddddd;
}

.pack-head {
  position: absolute;
  top: -36px;
  left: 0;
  z-index: 20;

  display: none;
  width: 388px;
  height: 37px;

  background-color: #ffffff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.pack-head::before {
  content: "";

  position: absolute;
  top: -5px;
  left: -1px;

  display: none;
  width: 390px;
  height: 5px;

  background-color: #485563;
}

.pack-active .pack-head,
.pack-active .pack-head::before,
.pack-item:hover .pack-head,
.pack-item:hover .pack-head::before {
  display: block;
}

.pack-wrapper {
  box-sizing: border-box;
  width: 390px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 35px;
}

.pack-active,
.pack-item:hover {
  outline: 1px solid #dddddd;
}

.pack-active h3.pack-name,
.pack-active span.price {
  color: #29323c;
}

.pack-item:hover h3.pack-name,
.pack-item:hover span.price {
  color: #29323c;
}

.pack-item .pack-row:first-child {
  padding: 20px 0 30px;

  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.pack-item .pack-row:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 33px 66px;
}

.pack-item .pack-name {
  margin: 0;

  margin-bottom: 25px;

  font-size: 20px;
  line-height: 36px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  color: #485563;
}

.pack-item .pack-price {
  margin: 0;

  font-size: 14px;
  line-height: 9px;
  color: rgba(41, 50, 60, 0.8);
}

.pack-price .price {
  display: block;
  margin-bottom: 25px;

  font-size: 45px;
  line-height: 9px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  color: #485563;
}

.pack-item .pack-description {
  margin: 0;

  line-height: 40px;
  color: #29323c;
}

.pack-item a.pack-take {
  width: 89px;
  margin-top: auto;
  padding: 2px 18px;
  align-self: center;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  color: #e8e8e8;
  text-decoration: none;

  background-color: #485563;
  border-radius: 20px;
}

.contact-us {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 650px;
  margin: 0 auto;
}

.contact-us .contact-column {
  width: 800px;
  height: 650px;
}

.contact-column:first-child img {
  width: 800px;
  height: 650px;
}

.contact-us .contact-column:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: #465360;
  background-image: url('../img/form-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contact-us .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 410px;
  height: 425px;

  color: #e8e8e8;
}

.form-part label {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

p.form-part {
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.form-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.form-part > label {
  margin-top: 14px;
}

.form-part input,
.form-part textarea {
  background-color: transparent;
  border: 1px solid rgba(242, 242, 242, 0.7);
  border-radius: 2px;
}

.form-part input {
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  padding: 10px;
}

.form-part textarea {
  width: 294px;

  resize: none;
}

.contact-form button.form-submit {
  align-self: flex-end;
  width: 120px;
  height: 45px;

  font-family: "Montressat", "Arial", sans-serif;
  font-weight: 700;
  color: #e8e8e8;
  line-height: 36px;
  letter-spacing: 0.25px;

  background-color: transparent;
  border: 1px solid rgba(242, 242, 242, 0.7);
  border-radius: 2px;
}
