body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #29323c;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.link-type {
  display: inline-block;
  padding: 4px 25px;

  color: #e8e8e8;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;

  border: 1px solid #f2f2f2;
  border-radius: 25px;
}

.link-type:hover {
  color: #29323c;

  border-color: #29323c;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.main-header {
  position: absolute;
  z-index: 100;

  width: 100%;
  padding: 30px 0;
}

.js-header-fixed {
  position: fixed;
  top: 0;
  left: 0;

  padding: 0;

  background-color: #485563;
}

.js-header-fixed .site-navigation a::after {
  bottom: 0;
}

.main-header .container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 84px;
  height: 31px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation li {
  margin-right: 40px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  position: relative;
}

.site-navigation a::after {
  content: "";

  position: absolute;
  bottom: 5px;
  left: 0;

  display: none;
  width: 100%;
  height: 2px;

  background-color: #ffffff;
}

.site-navigation a:hover::after {
  display: block;
}

.main-navigation a {
  position: relative;

  display: block;
  padding: 20px 0;

  color: #e8e8e8;

  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

a.menu-link {
  position: relative;

  display: none;
  width: 82px;
}

.menu-link span {
  position: absolute;
  top: 13px;
  right: 0;

  display: flex;
  width: 21px;
  height: 3px;

  background-color: #e8e8e8;
}

.menu-link span::before,
.menu-link span::after {
  content: "";

  position: absolute;

  display: block;
  width: 21px;
  height: 3px;

  background-color: #e8e8e8;
}

.menu-link span::before {
  top: -7px;
}

.menu-link span::after {
  top: 7px;
}

.title {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  text-align: center;
  color: #e8e8e8;
}

.title::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url('../img/title-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2b353f;

  animation: moving 60s infinite;
}

@keyframes moving {
  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.title-text {
  max-width: 625px;
  padding: 15px;
  margin: auto;
}

.title h1 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 36px;
  line-height: 40px;
}

.title p {
  margin: 0;
  margin: 0 auto 33px;
  padding: 0 10px;
  max-width: 670px;

  font-weight: 300;
  letter-spacing: -0.25px;
  font-size: 17px;
  line-height: 25px;
}

.services {
  padding: 100px 0 80px;

  text-align: center;

  background-color: #f5f5f5;
}

h2.classic-header {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 22px;
  font-weight: 800;
}

h2.classic-header + p {
  position: relative;

  margin: 0;
  margin-bottom: 60px;
  padding-bottom: 20px;

  line-height: 30px;
}

h2.classic-header + p::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 40px;
  height: 2px;
  margin-left: -20px;

  background-color: #545b63;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.service-item {
  max-width: 270px;
  padding: 0 10px;
}

.service-item img {
  width: 120px;
  height: 120px;

  margin-bottom: 30px;
}

.service-item h3 {
  margin: 0;

  margin-bottom: 10px;

  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
}

.service-item p {
  margin: 0;
}

.works {
  padding: 100px 0 50px;
  text-align: center;
}

.works .container {
  max-width: 1600px;
}

.work-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 100vw;
  min-height: 600px;
  margin: 0 auto;
}

.work-item {
  position: relative;

  height: auto;
}

.work-item a {
  position: absolute;

  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
  text-decoration: none;
  vertical-align: middle;

  background-color: rgba(45, 54, 65, 0.7);
}

.work-item:hover > a {
  display: flex;
}

.work-name {
  display: block;

  font-size: 15px;
  font-weight: 700;
  color: #f2f2f2;
}

.work-type {
  font-size: 13px;
  font-weight: 400;
  color: rgba(242, 242, 242, 0.8);
}

.work-item img {
  width: 100%;
  height: 100%;
}

.clients {
  padding: 50px 0 100px;

  text-align: center;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-item .comment-text {
  position: relative;

  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 35px;
  padding-bottom: 37px;

  font-size: 16px;
  line-height: 26px;
}

.comment-item .comment-text::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 16px;
  height: 11px;
  margin-left: -8px;

  background-image: url('../img/quotes.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.comment-item .author-photo {
  width: 65px;
  height: 65px;

  border-radius: 50%;
}

.comment-item h3.author-name {
  margin: 0;

  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.comment-item p.author-position {
  margin: 0;
  margin-bottom: 33px;

  font-size: 13px;
  line-height: 20px;
}

.dots {
  list-style: none;
  margin: 0;
  padding: 0;

  margin: 0 auto;
  width: 55px;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 15px;
  height: 15px;
}

.dot span {
  width: 14px;
  height: 14px;
  display: inline-block;

  border: 1px solid #2b3746;
  border-radius: 50%;
}

.dot-active span {
  background-color: #2b3746;
}

.team {
  padding: 100px 0;

  text-align: center;

  background-color: #2b333e;
  background-image: url('../img/forest-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.team h2 {
  color: #f2f2f2;
}

.team h2 + p {
  color: rgba(242, 242, 242, 0.8);
}

.team h2 + p::after {
  background-color: rgba(210, 214, 214, 0.8);
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 93px;
}

.worker {
  position: relative;

  max-width: 270px;

  background-color: rgba(242, 242, 242, 0.75);
}

.worker p.photo-container {
  margin: 0;

  max-width: 270px;
  height: 270px;
}

.worker .worker-photo {
  width: 270px;
  height: 270px;
}

.worker .worker-info {
  padding: 30px 15px;
}

.worker h3.worker-name {
  margin: 0;

  margin-bottom: 4px;

  font-size: 15px;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
}

.worker p.worker-position {
  margin: 0;

  margin-bottom: 18px;

  line-height: 20px;
  color: rgba(41, 50, 60, 0.8);
}

a.link-bio {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  width: 250px;
  height: 250px;
  padding: 10px;

  font-size: 13px;
  line-height: 250px;
  font-weight: 700;
  color: #e8e8e8;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;

  transition-property: color, background-color;
  transition-duration: 0.4s, 0.2s;
}

a.link-bio::after {
  content: "";

  position: absolute;
  top: 147px;
  left: 50%;

  width: 0;
  height: 2px;
  margin-left: 0;

  background-color: transparent;

  transition-timing-function: linear;
  transition-property: background-color, width, margin-left;
  transition-duration: 0.3s, 0.3s, 0.3s;
}

.worker:hover a.link-bio {
  opacity: 1;

  color: #fff;

  background-color:rgba(57, 67, 80, 0.7);
}

.worker:hover a.link-bio::after {
  width: 40px;
  margin-left: -20px;

  background-color: rgba(255, 255, 255, 0.8);
}

.social-contacts {
  list-style: none;
  margin: 0;
  padding: 0;

  max-width: 140px;
  margin: 0 auto;
  display: flex;
}

.social-item {
  width: 27px;
  height: 27px;
  margin-right: 5px;
}

.social-item:last-child {
  margin: 0;
}

.social-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.partners {
  padding: 35px 0;

  background-color: #f5f5f5;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.partners-item {
  width: 170px;
  height: 80px;
  margin-right: 55px;
}

.partners-item:last-child {
  margin-right: 0;
}

.partners-item a {
  width: 170px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-item img {
  max-width: 170px;
  max-height: 80px;
}

.prices {
  padding: 100px 0 115px;

  text-align: center;
}

.pack-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}


.contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.contact-us .contact-column {
  width: 50%;
  flex-grow: 1;
  height: 650px;
}

.map-column {
  background-image: url('../img/maps.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.map-frame {
  width: 100%;
  height: 100%;
}

.contact-us .contact-column:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: #465360;
  background-image: url('../img/form-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contact-us .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 410px;

  color: #e8e8e8;
}

.form-part label {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

p.form-part {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

div.form-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

div.form-part > label {
  margin-top: 14px;
}

.form-part input,
.form-part textarea {
  background-color: transparent;
  border: 1px solid rgba(242, 242, 242, 0.7);
  border-radius: 2px;
}

.form-part input {
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  padding: 10px;
}

.form-part textarea {
  width: 294px;

  resize: none;
}

.contact-form button.form-submit {
  align-self: flex-end;
  width: 120px;
  padding: 4px 10px;

  font-family: "Montressat", "Arial", sans-serif;
  font-weight: 700;
  color: #e8e8e8;
  line-height: 36px;
  letter-spacing: 0.25px;

  background-color: transparent;
  border: 1px solid rgba(242, 242, 242, 0.7);
  border-radius: 2px;
}

.main-footer {
  padding: 45px 50px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.main-footer .left-part,
.main-footer .right-part {
  max-width: 370px;
}

.left-part,
.right-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  text-align: center;
}

.left-part {
  justify-content: flex-start;
}

.right-part {
  justify-content: flex-end;
}

.footer-logo {
  margin: 0;

  margin-right: 25px;
}

.footer-logo img {
  width: 82px;
  height: 30px;
}

p.copyright {
  margin: 0;

  color: #29323c;
  letter-spacing: -0.25px;
}

.right-part b {
  margin-right: 27px;

  font-weight: 400;
  color: #29323c;
  letter-spacing: -0.25px;
}

.right-part ul.social-links {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  width: 170px;
}

@media (max-width: 1130px) {

  .team-list {
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .worker {
    margin: 0 25px 25px;
  }

}

@media (max-width: 960px) {

  .service-item img {
    margin-bottom: 20px;
  }

  .service-item h3 {
    margin-bottom: 6px;
  }

  .partners-item {
    margin-right: 17px;
    padding-bottom: 25px;
  }

  .contact-us .contact-column {
    width: 100%;
  }

}

@media (max-width: 900px) {

  .work-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 0;
  }

  .work-list a {
    position: relative;

    display: block;
    width: auto;
    height: auto;
    margin-bottom: 20px;

    background-color: transparent;
  }

  .work-item span {
    color: #000000;
  }

  .work-item img {
    width: 320px;
    height: 200px;
  }

}

@media (max-width: 850px) {

  .main-header {
    padding: 8px 0;
  }

  .main-navigation a {
    padding: 5px 0;
  }

  a.menu-link {
    display: inline-block;
  }

  .site-navigation {
    display: none;
    position: absolute;
    right: 0;
    top: 45px;

    flex-direction: column;

    background-color: #485563;
  }

  .site-navigation li {
    margin-right: 0;
  }

  .site-navigation a {
    min-width: 100px;
    padding: 10px 10px;
  }

  .site-navigation a:hover {
    background-color: #6b727a;
  }

  .site-navigation a:hover::after {
    display: none;
  }

}

@media (max-width: 800px) {

  .service-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .service-item {
    flex-grow: 1;
    margin-bottom: 25px;
  }

  .service-item:nth-child(3),
  .service-item:last-child {
    margin-bottom: 0;
  }

  .footer-part {
    flex-direction: column;
  }

  .footer-logo {
    margin: 0 0 7px;
  }

  .footer-part b {
    margin: 0 0 7px;
  }

}

@media (max-width: 700px) {
  .work-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {

  .service-list {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-item,
  .service-item:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .service-item img {
    margin-bottom: 0;
    margin-right: 25px;
  }

  .service-text-wrap {
    width: 100%;

    text-align: left;
  }

}

@media (max-width: 600px) {

  .title {
    min-height: 340px;
  }

  .title span.vertical-line {
    height: 70px;
  }

  .service-item {
    text-align: left;

    margin-bottom: 30px;
  }

  .service-item:last-child {
    margin-bottom: 0;
  }

  .partners-list {
    justify-content: space-evenly;
  }

  .partners-item {
    margin: 0;
  }

  .main-footer .container {
    flex-direction: column;
    align-items: center;
  }

  .left-part {
    margin-bottom: 10px;
  }

  .footer-part b {
    display: none;
  }

}

@media (max-width: 500px) {

  h2.classic-header {
    font-size: 24px;
  }

  h2.classic-header + p {
    margin-bottom: 30px;
    padding-bottom: 13px;

    font-size: 13px;
  }

  .title-text h1 {
    font-size: 30px;
  }

  .title-text p {
    margin-bottom: 25px;

    font-size: 14px;
  }

  .services {
    padding: 50px 0 60px;
  }

  .works {
    padding: 50px 0 30px;
  }

  .clients {
    padding-bottom: 50px;
  }

  .clients .comment-text {
    margin-bottom: 30px;
    padding-bottom: 30px;

    font-size: 13px;
  }

  .contact-form {
    padding: 0 15px;
  }

  p.form-part {
    margin-bottom: 7px;
  }

  .contact-form label {
    display: block;
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .form-submit {
    margin: 0 auto;
  }

}

@media (max-width: 420px) {
  .site-navigation {
    top: -8px;
    left: 0;

    align-items: center;
    padding: 50px 0;

    text-align: center;

    background-color: rgba(72, 85, 99, 0.8);
  }

  .site-navigation li {
    width: 100%;
  }

  .site-navigation a {
    font-size: 35px;
    line-height: 45px;
  }


  .site-navigation a:hover,
  .site-navigation a:focus {
    background-color: #000;
  }
}

@media (max-width: 390px) {

  .service-item img {
    display: none;
  }

  .service-text-wrap {
    margin: 0 auto;

    text-align: center;
  }

  .worker {
    margin: 0 0 25px;
  }

}

.showMenu {
  display: flex;
}
